<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>书店首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>


<style>
body {
  margin: 0 auto;
  text-align:center;
  padding:0;
}
div, ul, li, dl, dt, dd, h1, h2, h3, h4, p {
  margin:0;
  padding:0;
  list-style:none;
}
a {
  text-decoration:none;
}

.ui-bar-f
{

}
.ui-bar-f .ui-btn
{

}
.ui-bar-f .ui-btn:hover
{

}

</style>

</head>

<body>
<div data-role="page">
  <div data-role="header">
    <h1>欢迎访问我的书店</h1>
    <a href="../User/login" data-role="button" data-icon="info" data-ajax="false">登陆/注册</a> 
     <a href="../Userdatelis/index" data-role="button" data-icon="info" data-ajax="false">用户</a>
    <form name="RegForm" method="post" action="../Book/googleBookList" data-ajax="false">
      <div data-role="fieldcontain">
        <label for="bookName"> 搜索 </label>
        <input name="bookName" id="bookName"  value="" type="text" width="20px" required>

      </div>
      <input data-inline="true" type="submit" name="submit" value="提交"  />
    </form>
   

  </div>
  <div data-role="content">
    <div data-role="collapsible" data-collapsed="false">
      <h1 >今日特价</h1>
      <div>
         <a href='#' data-ajax="false"> <img src="/mbook/public/static/images/{$tejiabook.book_img}" /> <br/>
        {$tejiabook.book_name}<br/>
        <span>￥{$tejiabook.book_newprice}</span> </a>
      </div>
    </div>
    <div data-role="collapsible" data-collapsed="false">
      <h1>快捷工具</h1>
      <div class="ui-grid-b">
        <div class="ui-block-a"> <a href="../book/booktype"  data-ajax="false"> <img  src="/mbook/public/static/images/neTool01.jpg" /><br/>
          <span>图书分类</span><br/>
          <br/>
          </a> </div>
        <div class="ui-block-b"> <a href="#"> <img  src="/mbook/public/static/images/neTool02.jpg"  /><br/>
          <span>联系我们</span><br/>
          <br/>
          </a> </div>
        <div class="ui-block-c"> <a href="../User/reg" data-ajax="false"> <img  src="/mbook/public/static/images/neTool03.jpg" alt="yhzc" /><br/>
          <span>用户注册</span><br/>
          <br/>
          </a> </div>
        <div class="ui-block-a"> <a href="#"> <img  src="/mbook/public/static/images/neTool04.jpg" alt="sdgg" /><br/>
          <span>书店公告</span><br/>
          <br/>
          </a> </div>
        <div class="ui-block-b"> <a href="#"> <img  src="/mbook/public/static/images/neTool05.jpg" alt="bzzx" /><br/>
          <span>帮助中心</span><br/>
          <br/>
          </a> </div>
        <div class="ui-block-c"> <a href="#"> <img  src="/mbook/public/static/images/neTool06.jpg" alt="yjfk" /><br/>
          <span>意见反馈</span><br/>
          <br/>
          </a> </div>
      </div>
    </div>
  </div>
  <div data-role="footer">
    <h1>机电书店</h1>
  </div>
</div>
</body>
</html>
