<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>图书分类</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
<style type="text/css">
#page li{
  float: left;
  margin: 20px;
  list-style: none;

}
</style>
</head>
<body>
<div data-role="page">
  <div data-role="header" >
    <a data-ajax="false" href="../index/index" data-role="button" data-icon="home">首页</a>
    <h1>图书列表</h1>
  </div>
  <div data-role="content">
     <ul>
      {foreach name='res' item='s'} 
      <div data-role="collapsible" data-collapsed="false">
      <div>
         <a href='../Book/book?bookname={$s.book_name}&bookId={$s.book_id}' data-ajax="false"> <img src="/mbook/public/static/images/{$s.book_img}" /> <br/>
       {$s.book_name}<br/>
        <span>￥{$s.book_newprice}</span> </a>
      </div>

    </div>
        
      {/foreach}
     </ul>
     <div id="page">
      {$res->render()}
      </div>
  </div>
  <div data-role="footer" data-theme="b">
    <h1>机电书店</h1>
  </div>
</div>
</body>
</html>
