<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用户注</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>

</head>

<body>
<div data-role="page" id="page1">
  <div data-role="header"> 
    <a href="../Index/index.html" data-ajax="false" data-role="button" data-icon="home">首页</a>
    <h3 id="reg"> 完善资料 </h3>
  </div>
  <div data-role="content">
    <form name="RegForm" method="post" action="perfectDo" data-ajax="false" enctype="multipart/form-data">
      <div data-role="fieldcontain">
         <label for="photo">照片 </label>
         <input name="photo" id="photo"  value="" type="file" required>
      </div>
      <div data-role="fieldcontain">
        <label for="phone">电话 </label>
        <input name="phone" id="phone"  value="" type="text" required>
      </div>
      <div data-role="fieldcontain">
        <label for="qq"> qq </label>
        <input name="qq" id="qq" placeholder="" value="" type="text" required>
      </div> 
      <div data-role="fieldcontain">
      <fieldset data-role="controlgroup" data-type="horizontal"  >
        <legend>性别</legend>
        <label for="male">男</label>
        <input type="radio" name="gender" id="male" value="男">
        <label for="female">女</label>
        <input type="radio" name="gender" id="female" value="女">
      </fieldset>
      </div>
      <div >
        <input data-inline="true" type="submit" name="submit" value="提交"  />
        <a data-inline="true"  data-role="button"  href="#"> 取消 </a> 
      </div>
    </form>
  </div>
</div>
</body>
</html>
